main {
    margin-top: 20px; /* Espaçamento entre a navbar e o conteúdo */
  }

  body {
    background-color: #f8f9fa; /* Cor de fundo cinza claro para toda a página */

  }
  
  table {
    background-color: white; /* Mantém o fundo da tabela branco */
  }
  
  .container, .container-fluid, .row {
    background-color: #f8f9fa; /* Fundo cinza claro para o container */
  }

  .navbar {
    margin-bottom: 20px; /* Adiciona espaço abaixo do navbar */
}