/* src/app/components/professor-dashboard/professor-dashboard.component.scss */
.dashboard-container {
    padding: 20px;
    h1 {
      text-align: center;
    }
    .actions {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
  }
  