<div class="container mt-4">
    <h3>Cadastrar Novo Item</h3>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit($event)">
      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" id="name" formControlName="name" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Idade:</label>
        <input type="number" id="age" formControlName="age" class="form-control" min="1" max="100" />
      </div>
      <div class="mb-3">
        <label for="curso" class="form-label">Curso:</label>
        <select id="curso" formControlName="curso" class="form-select">
          <option value="">Selecione um curso</option>
          <option value="Ingles Básico">Inglês Básico</option>
          <option value="Ingles Intermediario">Inglês Intermediário</option>
          <option value="Ingles Avançado">Inglês Avançado</option>
          <option value="Conversation">Conversation</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">1º Bimestre:</label>
        <input type="number" formControlName="bimestre1" class="form-control" />
      </div>
      <div class="mb-3">
        <label class="form-label">2º Bimestre:</label>
        <input type="number" formControlName="bimestre2" class="form-control" />
      </div>
      <div class="mb-3">
        <label class="form-label">3º Bimestre:</label>
        <input type="number" formControlName="bimestre3" class="form-control" />
      </div>
      <div class="mb-3">
        <label class="form-label">4º Bimestre:</label>
        <input type="number" formControlName="bimestre4" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
  